USE [SmartInventory_DB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[MinStockLevel] [int] NOT NULL,
	[MaxCapacity] [int] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1003, N'Smartphones')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1004, N'Accessories')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1005, N'Storage Devices')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Quantity], [Price], [MinStockLevel], [MaxCapacity], [ImagePath], [CategoryID], [IsActive]) VALUES (1, N'Wireless Mouse', 45, CAST(25.50 AS Decimal(18, 2)), 5, 100, N'', 1, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Quantity], [Price], [MinStockLevel], [MaxCapacity], [ImagePath], [CategoryID], [IsActive]) VALUES (2, N'Samsung 27-inch Monitor', 15, CAST(299.99 AS Decimal(18, 2)), 3, 130, N'', 1, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Quantity], [Price], [MinStockLevel], [MaxCapacity], [ImagePath], [CategoryID], [IsActive]) VALUES (4, N'Samsung 33-inch Monitor', 42, CAST(299.99 AS Decimal(18, 2)), 3, 50, N'', 1, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [ProductID], [UserID], [Type], [Quantity], [TransactionDate]) VALUES (7, 1, 1, 0, 200, CAST(N'2026-02-18T09:45:12.000' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionID], [ProductID], [UserID], [Type], [Quantity], [TransactionDate]) VALUES (8, 1, 1, 0, 200, CAST(N'2026-02-18T09:45:12.000' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionID], [ProductID], [UserID], [Type], [Quantity], [TransactionDate]) VALUES (9, 1, 1, 1, 20, CAST(N'2026-02-18T09:45:12.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (1, N'Maryam Al Obaidi', N'012345678', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (1010, N'lola', N'1234', N'User')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (1012, N'yasser', N'1234', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Products]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
/****** Object:  StoredProcedure [dbo].[Sp_AddNewCategories]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_AddNewCategories]
    @CategoryName NVARCHAR(MAX),   @ID INT OUTPUT

AS
BEGIN
    BEGIN TRY
        INSERT INTO Categories (
CategoryName) VALUES (
@CategoryName
);        SET @ID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_AddNewProducts]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_AddNewProducts]
    @ProductName NVARCHAR(MAX),
    @Quantity INT,
    @Price DECIMAL(18, 2), -- يفضل دائماً تحديد الدقة للـ Decimal
    @MinStockLevel INT,
    @MaxCapacity INT,      -- الحقل الجديد للذكاء البرمجي
    @ImagePath NVARCHAR(MAX), -- الحقل الجديد للصور
    @CategoryID INT,       -- لضمان ربط المنتج بالفئة الصحيحة
    @ID INT OUTPUT -- قمت بتغيير الاسم ليكون معبراً أكثر

AS
BEGIN
    BEGIN TRY
        INSERT INTO Products (
            ProductName, 
            Quantity, 
            Price, 
            MinStockLevel, 
            MaxCapacity, 
            ImagePath, 
            CategoryID,
			IsActive
        ) 
        VALUES (
            @ProductName,
            @Quantity,
            @Price,
            @MinStockLevel,
            @MaxCapacity,
            @ImagePath,
            @CategoryID,
			1

        );

        SET @ID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_AddNewTransactions]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_AddNewTransactions]
   @ProductID int,
   @UserID int,
    @Type NVARCHAR(MAX),
    @Quantity INT,
    @TransactionDate DATETIME,    @ID INT OUTPUT

AS
BEGIN
    BEGIN TRY
        INSERT INTO Transactions (ProductID,UserID,
Type, Quantity, TransactionDate) VALUES (@ProductID,@UserID,
@Type,@Quantity,@TransactionDate
);        SET @ID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_AddNewUsers]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_AddNewUsers]
    @Username NVARCHAR(MAX),
    @Password NVARCHAR(MAX),
    @Role NVARCHAR(MAX),    @ID INT OUTPUT

AS
BEGIN
    BEGIN TRY
        INSERT INTO Users (
Username, Password, Role) VALUES (
@Username,@Password,@Role
);        SET @ID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteCategories]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_DeleteCategories]
    @ID INT

AS
BEGIN
    BEGIN TRY
        Delete from Categories 
Where CategoryID=@ID
IF @@ROWCOUNT=0
BEGIN
            RAISERROR('No records found to delete for the provided ID.', 16, 1);
END
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteProducts]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_DeleteProducts]
    @ID INT

AS
BEGIN
    BEGIN TRY
   UPDATE Products SET IsActive = 0 WHERE ProductID = @ID;
IF @@ROWCOUNT=0
BEGIN
            RAISERROR('No records found to delete for the provided ID.', 16, 1);
END
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteTransactions]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_DeleteTransactions]
    @ID INT

AS
BEGIN
    BEGIN TRY
        Delete from Transactions 
Where TransactionID=@ID
IF @@ROWCOUNT=0
BEGIN
            RAISERROR('No records found to delete for the provided ID.', 16, 1);
END
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteUsers]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_DeleteUsers]
    @ID INT

AS
BEGIN
    BEGIN TRY
        Delete from Users 
Where UserID=@ID
IF @@ROWCOUNT=0
BEGIN
            RAISERROR('No records found to delete for the provided ID.', 16, 1);
END
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllCategories]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetAllCategories]

AS
BEGIN
    BEGIN TRY
        Select * from Categories
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllProducts]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetAllProducts]
AS
BEGIN
    SELECT 
        P.ProductID, 
        P.ProductName, 
        P.Quantity, 
        P.Price, 
        P.MinStockLevel, 
        P.MaxCapacity, 
        P.ImagePath, 
        P.CategoryID,
        C.CategoryName  -- إضافة هذا العمود
    FROM Products P
    LEFT JOIN Categories C ON P.CategoryID = C.CategoryID
	WHERE P.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllTransactions]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetAllTransactions]

AS
BEGIN
    BEGIN TRY
        Select * from Transactions
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllUsers]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetAllUsers]

AS
BEGIN
    BEGIN TRY
        Select * from Users
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetCategoriesByID]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetCategoriesByID]
    @ID INT

AS
BEGIN
    BEGIN TRY
        SELECT * from Categories
Where CategoryID=@ID
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetProductsByID]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetProductsByID]
    @ID INT

AS
BEGIN
    BEGIN TRY
        SELECT * from Products
Where ProductID=@ID
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetTransactionsByID]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetTransactionsByID]
    @ID INT

AS
BEGIN
    BEGIN TRY
        SELECT * from Transactions
Where TransactionID=@ID
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetUserByUsernameAndPassword]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetUserByUsernameAndPassword]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255)
AS
BEGIN
    SELECT UserID, Username, Password, Role 
    FROM Users
    WHERE Username = @Username AND Password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetUsersByID]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetUsersByID]
    @ID INT

AS
BEGIN
    BEGIN TRY
        SELECT * from Users
Where UserID=@ID
END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateCategories]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UpdateCategories]
     @CategoryID INT,
     @CategoryName NVARCHAR(MAX)
AS 
BEGIN
    BEGIN TRY
	Update Categories 
SET
CategoryName = @CategoryName
 Where CategoryID = @CategoryID;

IF @@ROWCOUNT=0
BEGIN
            RAISERROR('No record found with the provided ID.', 16, 1);
END
   END TRY
   BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProductQuantity]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateProductQuantity]
    @ProductID INT,
    @Quantity INT
AS
BEGIN
    UPDATE Products
    SET Quantity = @Quantity
    WHERE ProductID = @ProductID;
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateProducts]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_UpdateProducts]
     @ProductID INT,
     @ProductName NVARCHAR(MAX),
     @Quantity INT,
     @Price DECIMAL(18, 2), -- تحديد الدقة للأسعار
     @MinStockLevel INT,
     @MaxCapacity INT,      -- إضافة الحقل الجديد
     @ImagePath NVARCHAR(MAX), -- إضافة الحقل الجديد
     @CategoryID INT
AS 
BEGIN
    BEGIN TRY
        UPDATE Products 
        SET
            ProductName = @ProductName,
            Quantity = @Quantity,
            Price = @Price,
            MinStockLevel = @MinStockLevel,
            MaxCapacity = @MaxCapacity, -- تحديث القيمة الجديدة
            ImagePath = @ImagePath,     -- تحديث المسار الجديد
            CategoryID = @CategoryID
        WHERE ProductID = @ProductID;

        -- التحقق مما إذا كان التعديل قد تم فعلاً
        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No record found with the provided ID.', 16, 1);
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateTransactions]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UpdateTransactions]
     @TransactionID INT,
     @ProductID INT,
     @UserID INT,
     @Type NVARCHAR(MAX),
     @Quantity INT,
     @TransactionDate DATETIME
AS 
BEGIN
    BEGIN TRY
	Update Transactions 
SET
ProductID = @ProductID,
UserID = @UserID,
Type = @Type,
Quantity = @Quantity,
TransactionDate = @TransactionDate
 Where TransactionID = @TransactionID;

IF @@ROWCOUNT=0
BEGIN
            RAISERROR('No record found with the provided ID.', 16, 1);
END
   END TRY
   BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateUsers]    Script Date: 17/05/2026 15:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UpdateUsers]
     @UserID INT,
     @Username NVARCHAR(MAX),
     @Password NVARCHAR(MAX),
     @Role NVARCHAR(MAX)
AS 
BEGIN
    BEGIN TRY
	Update Users 
SET
Username = @Username,
Password = @Password,
Role = @Role
 Where UserID = @UserID;

IF @@ROWCOUNT=0
BEGIN
            RAISERROR('No record found with the provided ID.', 16, 1);
END
   END TRY
   BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'in/out' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Transactions', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(Admin/Employee' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Role'
GO
